--
-- PostgreSQL database dump
--

\restrict PdfEdnpqiGYmhapyOn7KS0cG9wlRXNIVMdtghE76E7LwYr4iPmUFcrqKAOdS4o7

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: auto_calculate_trip_distance(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.auto_calculate_trip_distance(p_trip_id uuid) RETURNS jsonb
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_trip RECORD;

    v_result JSONB;

BEGIN

    -- Get trip details

    SELECT 

        pickup_location,

        dropoff_location,

        pickup_lat,

        pickup_lng,

        dropoff_lat,

        dropoff_lng

    INTO v_trip

    FROM trips

    WHERE id = p_trip_id;

    

    IF NOT FOUND THEN

        RETURN jsonb_build_object(

            'success', false,

            'error', 'Trip not found'

        );

    END IF;

    

    -- Check if locations are available

    IF v_trip.pickup_location IS NULL OR v_trip.dropoff_location IS NULL THEN

        RETURN jsonb_build_object(

            'success', false,

            'error', 'Pickup and dropoff locations are required'

        );

    END IF;

    

    -- Try to get from cache first

    SELECT 

        jsonb_build_object(

            'distanceMiles', dc.distance_miles,

            'durationHours', dc.duration_hours,

            'provider', dc.provider,

            'cached', true

        )

    INTO v_result

    FROM get_cached_distance(v_trip.pickup_location, v_trip.dropoff_location) dc;

    

    -- Return result indicating external API call needed if not cached

    IF v_result IS NULL THEN

        RETURN jsonb_build_object(

            'success', false,

            'error', 'Distance not in cache - external API call required',

            'requiresApiCall', true,

            'origin', v_trip.pickup_location,

            'destination', v_trip.dropoff_location

        );

    END IF;

    

    -- Update trip with cached distance

    UPDATE trips

    SET distance_miles = (v_result->>'distanceMiles')::NUMERIC,

        duration_hours = (v_result->>'durationHours')::NUMERIC,

        distance_calculated_at = NOW(),

        distance_calculation_provider = v_result->>'provider',

        distance_calculation_method = 'auto',

        updated_at = NOW()

    WHERE id = p_trip_id;

    

    RETURN jsonb_build_object(

        'success', true,

        'result', v_result

    );

END;

$$;


ALTER FUNCTION public.auto_calculate_trip_distance(p_trip_id uuid) OWNER TO postgres;

--
-- Name: cache_distance_calculation(text, text, double precision, double precision, double precision, double precision, numeric, numeric, numeric, integer, character varying, jsonb); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.cache_distance_calculation(p_origin text, p_destination text, p_origin_lat double precision, p_origin_lng double precision, p_destination_lat double precision, p_destination_lng double precision, p_distance_miles numeric, p_duration_hours numeric, p_distance_km numeric, p_duration_minutes integer, p_provider character varying, p_route_data jsonb DEFAULT NULL::jsonb) RETURNS uuid
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_cache_key VARCHAR(64);

    v_cache_id UUID;

BEGIN

    -- Calculate cache key

    v_cache_key := calculate_distance_cache_key(p_origin, p_destination);

    

    -- Insert or update cache entry

    INSERT INTO distance_cache (

        origin_location,

        origin_lat,

        origin_lng,

        destination_location,

        destination_lat,

        destination_lng,

        distance_miles,

        duration_hours,

        distance_km,

        duration_minutes,

        provider,

        route_data,

        cache_key

    ) VALUES (

        p_origin,

        p_origin_lat,

        p_origin_lng,

        p_destination,

        p_destination_lat,

        p_destination_lng,

        p_distance_miles,

        p_duration_hours,

        p_distance_km,

        p_duration_minutes,

        p_provider,

        p_route_data,

        v_cache_key

    )

    ON CONFLICT (cache_key) DO UPDATE

    SET distance_miles = EXCLUDED.distance_miles,

        duration_hours = EXCLUDED.duration_hours,

        distance_km = EXCLUDED.distance_km,

        duration_minutes = EXCLUDED.duration_minutes,

        provider = EXCLUDED.provider,

        route_data = EXCLUDED.route_data,

        hit_count = distance_cache.hit_count,

        last_accessed_at = NOW(),

        expires_at = NOW() + INTERVAL '30 days'

    RETURNING id INTO v_cache_id;

    

    RETURN v_cache_id;

END;

$$;


ALTER FUNCTION public.cache_distance_calculation(p_origin text, p_destination text, p_origin_lat double precision, p_origin_lng double precision, p_destination_lat double precision, p_destination_lng double precision, p_distance_miles numeric, p_duration_hours numeric, p_distance_km numeric, p_duration_minutes integer, p_provider character varying, p_route_data jsonb) OWNER TO postgres;

--
-- Name: calculate_distance_cache_key(text, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calculate_distance_cache_key(p_origin text, p_destination text) RETURNS character varying
    LANGUAGE plpgsql IMMUTABLE
    AS $$

DECLARE

    v_normalized TEXT;

BEGIN

    -- Normalize and concatenate locations

    v_normalized := LOWER(TRIM(p_origin)) || '|' || LOWER(TRIM(p_destination));

    

    -- Return MD5 hash

    RETURN MD5(v_normalized);

END;

$$;


ALTER FUNCTION public.calculate_distance_cache_key(p_origin text, p_destination text) OWNER TO postgres;

--
-- Name: cleanup_expired_distance_cache(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.cleanup_expired_distance_cache() RETURNS TABLE(deleted_count bigint)
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_deleted_count BIGINT;

BEGIN

    -- Delete expired cache entries

    DELETE FROM distance_cache

    WHERE expires_at < NOW();

    

    GET DIAGNOSTICS v_deleted_count = ROW_COUNT;

    

    -- Also delete least accessed entries if cache is too large (keep top 10k)

    DELETE FROM distance_cache

    WHERE id IN (

        SELECT id

        FROM distance_cache

        ORDER BY last_accessed_at ASC

        OFFSET 10000

    );

    

    RETURN QUERY SELECT v_deleted_count;

END;

$$;


ALTER FUNCTION public.cleanup_expired_distance_cache() OWNER TO postgres;

--
-- Name: get_cached_distance(text, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_cached_distance(p_origin text, p_destination text) RETURNS TABLE(distance_miles numeric, duration_hours numeric, provider character varying, cached boolean)
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_cache_key VARCHAR(64);

BEGIN

    -- Calculate cache key

    v_cache_key := calculate_distance_cache_key(p_origin, p_destination);

    

    -- Look up and return cached result

    RETURN QUERY

    UPDATE distance_cache

    SET hit_count = hit_count + 1,

        last_accessed_at = NOW()

    WHERE cache_key = v_cache_key

      AND expires_at > NOW()

    RETURNING 

        distance_cache.distance_miles,

        distance_cache.duration_hours,

        distance_cache.provider,

        TRUE as cached;

END;

$$;


ALTER FUNCTION public.get_cached_distance(p_origin text, p_destination text) OWNER TO postgres;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  NEW.updated_at = NOW();

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.set_updated_at() OWNER TO postgres;

--
-- Name: trigger_calculate_trip_distance(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trigger_calculate_trip_distance() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Only calculate if locations are provided and distance is not already set

    IF NEW.pickup_location IS NOT NULL 

       AND NEW.dropoff_location IS NOT NULL 

       AND NEW.distance_miles IS NULL THEN

        

        -- Try to calculate from cache (non-blocking)

        PERFORM auto_calculate_trip_distance(NEW.id);

    END IF;

    

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.trigger_calculate_trip_distance() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  NEW.updated_at = NOW();

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: trip_locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trip_locations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    trip_id uuid NOT NULL,
    driver_id uuid,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    speed numeric,
    heading numeric,
    odometer numeric,
    fuel_level numeric,
    source text,
    recorded_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.trip_locations OWNER TO postgres;

--
-- Name: active_trip_locations; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.active_trip_locations AS
 SELECT DISTINCT ON (trip_locations.trip_id) trip_locations.trip_id,
    trip_locations.driver_id,
    trip_locations.latitude,
    trip_locations.longitude,
    trip_locations.speed,
    trip_locations.heading,
    trip_locations.odometer,
    trip_locations.fuel_level,
    trip_locations.source,
    trip_locations.recorded_at
   FROM public.trip_locations
  ORDER BY trip_locations.trip_id, trip_locations.recorded_at DESC;


ALTER TABLE public.active_trip_locations OWNER TO postgres;

--
-- Name: business_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_rules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    rule_key character varying(100) NOT NULL,
    scope character varying(50) NOT NULL,
    rule_value numeric(10,2) NOT NULL,
    unit character varying(20),
    severity character varying(20) DEFAULT 'warning'::character varying,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.business_rules OWNER TO postgres;

--
-- Name: costing_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.costing_rules (
    rule_id uuid DEFAULT gen_random_uuid() NOT NULL,
    rule_key character varying(100) NOT NULL,
    rule_type character varying(50) NOT NULL,
    rule_value numeric(10,4) NOT NULL,
    description text,
    effective_date timestamp without time zone DEFAULT now() NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.costing_rules OWNER TO postgres;

--
-- Name: customs_activity_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customs_activity_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    clearance_id uuid NOT NULL,
    action character varying(100) NOT NULL,
    actor character varying(255),
    actor_type character varying(50),
    details jsonb,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.customs_activity_log OWNER TO postgres;

--
-- Name: customs_agents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customs_agents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    agent_name character varying(255) NOT NULL,
    company character varying(100) NOT NULL,
    email character varying(255),
    phone character varying(50),
    specialization character varying(100),
    is_active boolean DEFAULT true NOT NULL,
    current_workload integer DEFAULT 0 NOT NULL,
    max_concurrent_reviews integer DEFAULT 10 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.customs_agents OWNER TO postgres;

--
-- Name: customs_clearances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customs_clearances (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    trip_id uuid NOT NULL,
    order_id character varying(36) NOT NULL,
    driver_id uuid NOT NULL,
    unit_id uuid,
    status character varying(50) DEFAULT 'PENDING_DOCS'::character varying NOT NULL,
    priority character varying(20) DEFAULT 'NORMAL'::character varying NOT NULL,
    border_crossing_point character varying(255) NOT NULL,
    crossing_direction character varying(50) NOT NULL,
    estimated_crossing_time timestamp with time zone,
    actual_crossing_time timestamp with time zone,
    required_documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    submitted_documents jsonb DEFAULT '[]'::jsonb NOT NULL,
    assigned_agent_id uuid,
    agent_name character varying(255),
    review_started_at timestamp with time zone,
    review_completed_at timestamp with time zone,
    review_notes text,
    rejection_reason text,
    flagged_at timestamp with time zone DEFAULT now() NOT NULL,
    docs_submitted_at timestamp with time zone,
    approved_at timestamp with time zone,
    cleared_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.customs_clearances OWNER TO postgres;

--
-- Name: customs_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customs_documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    clearance_id uuid NOT NULL,
    document_type character varying(100) NOT NULL,
    document_name character varying(255) NOT NULL,
    file_url character varying(1000),
    file_size_kb integer,
    file_type character varying(50),
    status character varying(50) DEFAULT 'UPLOADED'::character varying NOT NULL,
    verification_notes text,
    uploaded_by character varying(100),
    uploaded_at timestamp with time zone DEFAULT now() NOT NULL,
    verified_by character varying(255),
    verified_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.customs_documents OWNER TO postgres;

--
-- Name: dispatches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dispatches (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_id character varying(255) NOT NULL,
    driver_id character varying(255) NOT NULL,
    status character varying(50) DEFAULT 'assigned'::character varying NOT NULL,
    assigned_at timestamp without time zone DEFAULT now() NOT NULL,
    picked_up_at timestamp without time zone,
    delivered_at timestamp without time zone,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.dispatches OWNER TO postgres;

--
-- Name: distance_cache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.distance_cache (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    origin_location text NOT NULL,
    origin_lat double precision,
    origin_lng double precision,
    destination_location text NOT NULL,
    destination_lat double precision,
    destination_lng double precision,
    distance_miles numeric(10,2) NOT NULL,
    duration_hours numeric(6,2) NOT NULL,
    distance_km numeric(10,2),
    duration_minutes integer,
    provider character varying(50) NOT NULL,
    route_data jsonb,
    cache_key character varying(64) NOT NULL,
    hit_count integer DEFAULT 0,
    last_accessed_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone DEFAULT (now() + '30 days'::interval) NOT NULL
);


ALTER TABLE public.distance_cache OWNER TO postgres;

--
-- Name: TABLE distance_cache; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.distance_cache IS 'Cached distance calculations to reduce API calls and improve performance';


--
-- Name: COLUMN distance_cache.cache_key; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.distance_cache.cache_key IS 'MD5 hash of normalized origin and destination for fast lookups';


--
-- Name: COLUMN distance_cache.hit_count; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.distance_cache.hit_count IS 'Number of times this cached route has been used';


--
-- Name: COLUMN distance_cache.expires_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.distance_cache.expires_at IS 'Cache expiration timestamp (default 30 days)';


--
-- Name: driver_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.driver_profiles (
    driver_id uuid DEFAULT gen_random_uuid() NOT NULL,
    driver_name character varying(255) NOT NULL,
    unit_number character varying(50),
    driver_type character varying(10) NOT NULL,
    oo_zone character varying(10),
    base_wage_cpm numeric(10,4) DEFAULT 0 NOT NULL,
    benefits_pct numeric(5,4) DEFAULT 0 NOT NULL,
    performance_pct numeric(5,4) DEFAULT 0 NOT NULL,
    safety_pct numeric(5,4) DEFAULT 0 NOT NULL,
    step_pct numeric(5,4) DEFAULT 0 NOT NULL,
    effective_wage_cpm numeric(10,4) DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    region character varying(50),
    CONSTRAINT driver_profiles_driver_type_check CHECK (((driver_type)::text = ANY ((ARRAY['COM'::character varying, 'RNR'::character varying, 'OO'::character varying])::text[]))),
    CONSTRAINT driver_profiles_oo_zone_check CHECK (((oo_zone)::text = ANY ((ARRAY['ZONE1'::character varying, 'ZONE2'::character varying, 'ZONE3'::character varying])::text[])))
);


ALTER TABLE public.driver_profiles OWNER TO postgres;

--
-- Name: event_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_rules (
    rule_id uuid DEFAULT gen_random_uuid() NOT NULL,
    event_code character varying(50) NOT NULL,
    trigger_type character varying(100) NOT NULL,
    trigger_condition jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.event_rules OWNER TO postgres;

--
-- Name: event_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_types (
    event_id uuid DEFAULT gen_random_uuid() NOT NULL,
    event_code character varying(50) NOT NULL,
    event_name character varying(255) NOT NULL,
    cost_per_event numeric(10,2) DEFAULT 0 NOT NULL,
    is_automatic boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.event_types OWNER TO postgres;

--
-- Name: market_lanes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.market_lanes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    origin character varying(255) NOT NULL,
    destination character varying(255) NOT NULL,
    lane character varying(100) NOT NULL,
    rpm numeric(6,2) NOT NULL,
    currency character varying(3) DEFAULT 'USD'::character varying,
    source character varying(100),
    confidence character varying(20),
    sample_size integer,
    sample_date date NOT NULL,
    valid_until date,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.market_lanes OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id character varying(36) NOT NULL,
    customer_id character varying(255) NOT NULL,
    order_type character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    pickup_location text NOT NULL,
    dropoff_location text NOT NULL,
    pickup_time timestamp without time zone,
    dropoff_time timestamp without time zone,
    special_instructions text,
    estimated_cost numeric(10,2),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    customer_name character varying(255),
    required_equipment character varying(100),
    qualification_notes text,
    quoted_rate numeric(10,2),
    lane character varying(100),
    pu_window_start timestamp without time zone,
    pu_window_end timestamp without time zone,
    del_window_start timestamp without time zone,
    del_window_end timestamp without time zone
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: rate_cards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rate_cards (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    rate_type character varying(50) NOT NULL,
    zone character varying(50),
    description text,
    fixed_cpm numeric(6,3) DEFAULT 0,
    wage_cpm numeric(6,3) DEFAULT 0,
    fuel_cpm numeric(6,3) DEFAULT 0,
    truck_maint_cpm numeric(6,3) DEFAULT 0,
    trailer_maint_cpm numeric(6,3) DEFAULT 0,
    addons_cpm numeric(6,3) DEFAULT 0,
    rolling_cpm numeric(6,3) DEFAULT 0,
    total_cpm numeric(6,3) GENERATED ALWAYS AS (((((((fixed_cpm + wage_cpm) + fuel_cpm) + truck_maint_cpm) + trailer_maint_cpm) + addons_cpm) + rolling_cpm)) STORED,
    is_active boolean DEFAULT true,
    effective_date date DEFAULT CURRENT_DATE,
    expired_date date,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.rate_cards OWNER TO postgres;

--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schema_migrations (
    filename character varying(255) NOT NULL,
    applied_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.schema_migrations OWNER TO postgres;

--
-- Name: trip_costs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trip_costs (
    cost_id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_id uuid NOT NULL,
    driver_id uuid,
    unit_id uuid,
    driver_type character varying(10),
    oo_zone character varying(10),
    miles numeric(10,2) NOT NULL,
    direction character varying(20),
    is_round_trip boolean DEFAULT false NOT NULL,
    border_crossings integer DEFAULT 0 NOT NULL,
    drop_hooks integer DEFAULT 0 NOT NULL,
    pickups integer DEFAULT 0 NOT NULL,
    deliveries integer DEFAULT 0 NOT NULL,
    fixed_cpm numeric(10,4) DEFAULT 0 NOT NULL,
    wage_cpm numeric(10,4) DEFAULT 0 NOT NULL,
    rolling_cpm numeric(10,4) DEFAULT 0 NOT NULL,
    accessorial_cpm numeric(10,4) DEFAULT 0 NOT NULL,
    total_cpm numeric(10,4) DEFAULT 0 NOT NULL,
    total_cost numeric(10,2) DEFAULT 0 NOT NULL,
    revenue numeric(10,2),
    rpm numeric(10,4),
    ppm numeric(10,4),
    profit numeric(10,2),
    margin_pct numeric(5,4),
    is_profitable boolean,
    calculation_formula jsonb NOT NULL,
    calculated_at timestamp without time zone DEFAULT now() NOT NULL,
    calculated_by character varying(255),
    actual_miles numeric(10,2),
    actual_cost numeric(10,2),
    variance numeric(10,2),
    variance_pct numeric(5,4),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.trip_costs OWNER TO postgres;

--
-- Name: trip_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trip_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    trip_id uuid NOT NULL,
    event_type text NOT NULL,
    status text,
    source text,
    payload jsonb,
    triggered_by text,
    occurred_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.trip_events OWNER TO postgres;

--
-- Name: trips; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trips (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_id uuid NOT NULL,
    dispatch_id uuid,
    driver_id uuid NOT NULL,
    unit_id uuid,
    status text NOT NULL,
    pickup_location text NOT NULL,
    pickup_lat double precision,
    pickup_lng double precision,
    dropoff_location text NOT NULL,
    dropoff_lat double precision,
    dropoff_lng double precision,
    pickup_window_start timestamp with time zone,
    pickup_window_end timestamp with time zone,
    delivery_window_start timestamp with time zone,
    delivery_window_end timestamp with time zone,
    planned_start timestamp with time zone,
    actual_start timestamp with time zone,
    pickup_arrival timestamp with time zone,
    pickup_departure timestamp with time zone,
    delivery_arrival timestamp with time zone,
    delivery_departure timestamp with time zone,
    completed_at timestamp with time zone,
    closed_at timestamp with time zone,
    planned_miles numeric,
    actual_miles numeric,
    estimated_fuel_gallons numeric,
    actual_fuel_gallons numeric,
    pickup_dwell_minutes integer,
    delivery_dwell_minutes integer,
    on_time_pickup boolean DEFAULT true,
    on_time_delivery boolean DEFAULT true,
    route_history jsonb DEFAULT '[]'::jsonb,
    notes text,
    pod_url text,
    last_known_lat double precision,
    last_known_lng double precision,
    last_ping_at timestamp with time zone,
    risk_level text DEFAULT 'green'::text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    revenue numeric(12,2),
    expected_revenue numeric(12,2),
    margin_pct numeric(5,2),
    final_margin_pct numeric(5,2),
    eta_prediction timestamp with time zone,
    delay_risk_pct numeric(5,2),
    eta_baseline timestamp with time zone,
    driver_name character varying(255),
    unit_number character varying(50),
    customer_name character varying(255),
    lane character varying(100),
    week_start date,
    total_cost numeric(12,2),
    profit numeric(12,2),
    distance_miles numeric(10,2),
    duration_hours numeric(6,2),
    distance_calculated_at timestamp with time zone,
    distance_calculation_provider character varying(50),
    distance_calculation_method character varying(50) DEFAULT 'auto'::character varying
);


ALTER TABLE public.trips OWNER TO postgres;

--
-- Name: COLUMN trips.distance_miles; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.trips.distance_miles IS 'Calculated driving distance in miles';


--
-- Name: COLUMN trips.duration_hours; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.trips.duration_hours IS 'Estimated driving duration in hours';


--
-- Name: COLUMN trips.distance_calculated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.trips.distance_calculated_at IS 'Timestamp when distance was calculated';


--
-- Name: COLUMN trips.distance_calculation_provider; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.trips.distance_calculation_provider IS 'Provider used for calculation (osrm, google, mapbox, tomtom, fallback)';


--
-- Name: COLUMN trips.distance_calculation_method; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.trips.distance_calculation_method IS 'Calculation method (auto, manual, api)';


--
-- Name: trip_event_timeline; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.trip_event_timeline AS
 SELECT t.id AS trip_id,
    t.order_id,
    t.dispatch_id,
    e.id AS event_id,
    e.event_type,
    e.status,
    e.source,
    e.payload,
    e.triggered_by,
    e.occurred_at
   FROM (public.trips t
     JOIN public.trip_events e ON ((e.trip_id = t.id)))
  ORDER BY e.occurred_at;


ALTER TABLE public.trip_event_timeline OWNER TO postgres;

--
-- Name: trip_exceptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trip_exceptions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    trip_id uuid NOT NULL,
    exception_type text NOT NULL,
    severity text NOT NULL,
    message text NOT NULL,
    resolved boolean DEFAULT false NOT NULL,
    resolved_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.trip_exceptions OWNER TO postgres;

--
-- Name: trip_stops; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trip_stops (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    trip_id uuid NOT NULL,
    sequence smallint NOT NULL,
    type text NOT NULL,
    location text NOT NULL,
    lat double precision,
    lng double precision,
    window_start timestamp with time zone,
    window_end timestamp with time zone,
    arrived_at timestamp with time zone,
    departed_at timestamp with time zone,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.trip_stops OWNER TO postgres;

--
-- Name: unit_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unit_profiles (
    unit_id uuid DEFAULT gen_random_uuid() NOT NULL,
    unit_number character varying(50) NOT NULL,
    driver_id uuid,
    truck_weekly_cost numeric(10,2) DEFAULT 0 NOT NULL,
    trailer_weekly_cost numeric(10,2) DEFAULT 0 NOT NULL,
    insurance_weekly_cost numeric(10,2) DEFAULT 0 NOT NULL,
    isaac_weekly_cost numeric(10,2) DEFAULT 0 NOT NULL,
    prepass_weekly_cost numeric(10,2) DEFAULT 0 NOT NULL,
    sga_weekly_cost numeric(10,2) DEFAULT 0 NOT NULL,
    dtops_weekly_cost numeric(10,2) DEFAULT 0 NOT NULL,
    misc_weekly_cost numeric(10,2) DEFAULT 0 NOT NULL,
    total_weekly_cost numeric(10,2) DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    region character varying(50)
);


ALTER TABLE public.unit_profiles OWNER TO postgres;

--
-- Name: v_distance_cache_stats; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_distance_cache_stats AS
 SELECT count(*) AS total_entries,
    count(*) FILTER (WHERE (distance_cache.expires_at > now())) AS active_entries,
    count(*) FILTER (WHERE (distance_cache.expires_at <= now())) AS expired_entries,
    sum(distance_cache.hit_count) AS total_hits,
    avg(distance_cache.hit_count) AS avg_hits_per_entry,
    max(distance_cache.hit_count) AS max_hits,
    count(DISTINCT distance_cache.provider) AS providers_used,
    jsonb_object_agg(distance_cache.provider, provider_counts.cnt) AS entries_by_provider
   FROM (public.distance_cache
     LEFT JOIN ( SELECT distance_cache_1.provider,
            count(*) AS cnt
           FROM public.distance_cache distance_cache_1
          GROUP BY distance_cache_1.provider) provider_counts USING (provider));


ALTER TABLE public.v_distance_cache_stats OWNER TO postgres;

--
-- Name: v_trips_missing_distance; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_trips_missing_distance AS
 SELECT trips.id,
    trips.order_id,
    trips.pickup_location,
    trips.dropoff_location,
    trips.status,
    trips.created_at,
        CASE
            WHEN ((trips.pickup_location IS NULL) OR (trips.dropoff_location IS NULL)) THEN 'Missing locations'::text
            WHEN (trips.distance_miles IS NULL) THEN 'Not calculated'::text
            ELSE 'Has distance'::text
        END AS distance_status
   FROM public.trips
  WHERE ((trips.distance_miles IS NULL) AND (trips.pickup_location IS NOT NULL) AND (trips.dropoff_location IS NOT NULL))
  ORDER BY trips.created_at DESC;


ALTER TABLE public.v_trips_missing_distance OWNER TO postgres;

--
-- Name: week_miles_summary; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.week_miles_summary (
    summary_id uuid DEFAULT gen_random_uuid() NOT NULL,
    unit_number character varying(50) NOT NULL,
    week_start date NOT NULL,
    total_miles numeric(10,2) DEFAULT 0 NOT NULL,
    trip_count integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.week_miles_summary OWNER TO postgres;

--
-- Data for Name: business_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: costing_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customs_activity_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customs_activity_log (id, clearance_id, action, actor, actor_type, details, notes, created_at) FROM stdin;
\.


--
-- Data for Name: customs_agents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customs_clearances; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customs_clearances (id, trip_id, order_id, driver_id, unit_id, status, priority, border_crossing_point, crossing_direction, estimated_crossing_time, actual_crossing_time, required_documents, submitted_documents, assigned_agent_id, agent_name, review_started_at, review_completed_at, review_notes, rejection_reason, flagged_at, docs_submitted_at, approved_at, cleared_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: customs_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customs_documents (id, clearance_id, document_type, document_name, file_url, file_size_kb, file_type, status, verification_notes, uploaded_by, uploaded_at, verified_by, verified_at, created_at) FROM stdin;
\.


--
-- Data for Name: dispatches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: distance_cache; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.distance_cache (id, origin_location, origin_lat, origin_lng, destination_location, destination_lat, destination_lng, distance_miles, duration_hours, distance_km, duration_minutes, provider, route_data, cache_key, hit_count, last_accessed_at, created_at, expires_at) FROM stdin;
\.


--
-- Data for Name: driver_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: event_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: event_types; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: market_lanes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rate_cards; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trip_costs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trip_costs (cost_id, order_id, driver_id, unit_id, driver_type, oo_zone, miles, direction, is_round_trip, border_crossings, drop_hooks, pickups, deliveries, fixed_cpm, wage_cpm, rolling_cpm, accessorial_cpm, total_cpm, total_cost, revenue, rpm, ppm, profit, margin_pct, is_profitable, calculation_formula, calculated_at, calculated_by, actual_miles, actual_cost, variance, variance_pct, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: trip_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trip_exceptions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trip_exceptions (id, trip_id, exception_type, severity, message, resolved, resolved_at, created_at) FROM stdin;
\.


--
-- Data for Name: trip_locations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trip_locations (id, trip_id, driver_id, latitude, longitude, speed, heading, odometer, fuel_level, source, recorded_at, created_at) FROM stdin;
\.


--
-- Data for Name: trip_stops; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trips; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: unit_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: week_miles_summary; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.week_miles_summary (summary_id, unit_number, week_start, total_miles, trip_count, created_at, updated_at) FROM stdin;
ca7f5404-057e-49eb-8752-4a4bbf578465	UNIT-101	2025-11-02	550.00	1	2025-11-08 19:15:25.059067	2025-11-08 19:15:25.059067
\.


--
-- Name: business_rules business_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_rules
    ADD CONSTRAINT business_rules_pkey PRIMARY KEY (id);


--
-- Name: business_rules business_rules_rule_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_rules
    ADD CONSTRAINT business_rules_rule_key_key UNIQUE (rule_key);


--
-- Name: costing_rules costing_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.costing_rules
    ADD CONSTRAINT costing_rules_pkey PRIMARY KEY (rule_id);


--
-- Name: costing_rules costing_rules_rule_key_rule_type_effective_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.costing_rules
    ADD CONSTRAINT costing_rules_rule_key_rule_type_effective_date_key UNIQUE (rule_key, rule_type, effective_date);


--
-- Name: customs_activity_log customs_activity_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customs_activity_log
    ADD CONSTRAINT customs_activity_log_pkey PRIMARY KEY (id);


--
-- Name: customs_agents customs_agents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customs_agents
    ADD CONSTRAINT customs_agents_pkey PRIMARY KEY (id);


--
-- Name: customs_clearances customs_clearances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customs_clearances
    ADD CONSTRAINT customs_clearances_pkey PRIMARY KEY (id);


--
-- Name: customs_documents customs_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customs_documents
    ADD CONSTRAINT customs_documents_pkey PRIMARY KEY (id);


--
-- Name: dispatches dispatches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dispatches
    ADD CONSTRAINT dispatches_pkey PRIMARY KEY (id);


--
-- Name: distance_cache distance_cache_cache_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.distance_cache
    ADD CONSTRAINT distance_cache_cache_key_key UNIQUE (cache_key);


--
-- Name: distance_cache distance_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.distance_cache
    ADD CONSTRAINT distance_cache_pkey PRIMARY KEY (id);


--
-- Name: driver_profiles driver_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_profiles
    ADD CONSTRAINT driver_profiles_pkey PRIMARY KEY (driver_id);


--
-- Name: event_rules event_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_rules
    ADD CONSTRAINT event_rules_pkey PRIMARY KEY (rule_id);


--
-- Name: event_types event_types_event_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_types
    ADD CONSTRAINT event_types_event_code_key UNIQUE (event_code);


--
-- Name: event_types event_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_types
    ADD CONSTRAINT event_types_pkey PRIMARY KEY (event_id);


--
-- Name: market_lanes market_lanes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_lanes
    ADD CONSTRAINT market_lanes_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: rate_cards rate_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rate_cards
    ADD CONSTRAINT rate_cards_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (filename);


--
-- Name: trip_costs trip_costs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_costs
    ADD CONSTRAINT trip_costs_pkey PRIMARY KEY (cost_id);


--
-- Name: trip_events trip_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_events
    ADD CONSTRAINT trip_events_pkey PRIMARY KEY (id);


--
-- Name: trip_exceptions trip_exceptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_exceptions
    ADD CONSTRAINT trip_exceptions_pkey PRIMARY KEY (id);


--
-- Name: trip_locations trip_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_locations
    ADD CONSTRAINT trip_locations_pkey PRIMARY KEY (id);


--
-- Name: trip_stops trip_stops_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_stops
    ADD CONSTRAINT trip_stops_pkey PRIMARY KEY (id);


--
-- Name: trip_stops trip_stops_trip_id_sequence_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_stops
    ADD CONSTRAINT trip_stops_trip_id_sequence_key UNIQUE (trip_id, sequence);


--
-- Name: trips trips_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trips
    ADD CONSTRAINT trips_pkey PRIMARY KEY (id);


--
-- Name: unit_profiles unit_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unit_profiles
    ADD CONSTRAINT unit_profiles_pkey PRIMARY KEY (unit_id);


--
-- Name: unit_profiles unit_profiles_unit_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unit_profiles
    ADD CONSTRAINT unit_profiles_unit_number_key UNIQUE (unit_number);


--
-- Name: week_miles_summary week_miles_summary_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.week_miles_summary
    ADD CONSTRAINT week_miles_summary_pkey PRIMARY KEY (summary_id);


--
-- Name: week_miles_summary week_miles_summary_unit_number_week_start_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.week_miles_summary
    ADD CONSTRAINT week_miles_summary_unit_number_week_start_key UNIQUE (unit_number, week_start);


--
-- Name: idx_business_rules_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_business_rules_key ON public.business_rules USING btree (rule_key);


--
-- Name: idx_business_rules_scope; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_business_rules_scope ON public.business_rules USING btree (scope, is_active);


--
-- Name: idx_costing_rules_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_costing_rules_is_active ON public.costing_rules USING btree (is_active);


--
-- Name: idx_costing_rules_key_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_costing_rules_key_type ON public.costing_rules USING btree (rule_key, rule_type);


--
-- Name: idx_customs_agent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customs_agent ON public.customs_clearances USING btree (assigned_agent_id);


--
-- Name: idx_customs_agents_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customs_agents_active ON public.customs_agents USING btree (is_active, current_workload);


--
-- Name: idx_customs_crossing_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customs_crossing_time ON public.customs_clearances USING btree (estimated_crossing_time);


--
-- Name: idx_customs_docs_clearance; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customs_docs_clearance ON public.customs_documents USING btree (clearance_id);


--
-- Name: idx_customs_docs_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customs_docs_type ON public.customs_documents USING btree (document_type);


--
-- Name: idx_customs_log_clearance; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customs_log_clearance ON public.customs_activity_log USING btree (clearance_id);


--
-- Name: idx_customs_log_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customs_log_created ON public.customs_activity_log USING btree (created_at DESC);


--
-- Name: idx_customs_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customs_status ON public.customs_clearances USING btree (status);


--
-- Name: idx_customs_trip; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customs_trip ON public.customs_clearances USING btree (trip_id);


--
-- Name: idx_dispatches_assigned_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dispatches_assigned_at ON public.dispatches USING btree (assigned_at DESC);


--
-- Name: idx_dispatches_driver_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dispatches_driver_id ON public.dispatches USING btree (driver_id);


--
-- Name: idx_dispatches_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dispatches_order_id ON public.dispatches USING btree (order_id);


--
-- Name: idx_dispatches_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dispatches_status ON public.dispatches USING btree (status);


--
-- Name: idx_distance_cache_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_distance_cache_expires ON public.distance_cache USING btree (expires_at);


--
-- Name: idx_distance_cache_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_distance_cache_key ON public.distance_cache USING btree (cache_key);


--
-- Name: idx_distance_cache_locations; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_distance_cache_locations ON public.distance_cache USING btree (origin_location, destination_location);


--
-- Name: idx_driver_profiles_driver_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_profiles_driver_name ON public.driver_profiles USING btree (driver_name);


--
-- Name: idx_driver_profiles_driver_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_profiles_driver_type ON public.driver_profiles USING btree (driver_type);


--
-- Name: idx_driver_profiles_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_profiles_is_active ON public.driver_profiles USING btree (is_active);


--
-- Name: idx_driver_profiles_region; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_profiles_region ON public.driver_profiles USING btree (region);


--
-- Name: idx_driver_profiles_unit_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_profiles_unit_number ON public.driver_profiles USING btree (unit_number);


--
-- Name: idx_event_rules_event_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_rules_event_code ON public.event_rules USING btree (event_code);


--
-- Name: idx_event_rules_trigger_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_rules_trigger_type ON public.event_rules USING btree (trigger_type);


--
-- Name: idx_event_types_event_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_types_event_code ON public.event_types USING btree (event_code);


--
-- Name: idx_event_types_is_automatic; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_event_types_is_automatic ON public.event_types USING btree (is_automatic);


--
-- Name: idx_market_lanes_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_market_lanes_date ON public.market_lanes USING btree (sample_date DESC);


--
-- Name: idx_market_lanes_lane; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_market_lanes_lane ON public.market_lanes USING btree (lane);


--
-- Name: idx_market_lanes_origin_dest; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_market_lanes_origin_dest ON public.market_lanes USING btree (origin, destination);


--
-- Name: idx_orders_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_created_at ON public.orders USING btree (created_at DESC);


--
-- Name: idx_orders_customer_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_customer_id ON public.orders USING btree (customer_id);


--
-- Name: idx_orders_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_id ON public.orders USING btree (id);


--
-- Name: idx_orders_lane; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_lane ON public.orders USING btree (lane);


--
-- Name: idx_orders_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_status ON public.orders USING btree (status);


--
-- Name: idx_rate_cards_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rate_cards_active ON public.rate_cards USING btree (is_active, effective_date);


--
-- Name: idx_rate_cards_type_zone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rate_cards_type_zone ON public.rate_cards USING btree (rate_type, zone);


--
-- Name: idx_trip_costs_calculated_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trip_costs_calculated_at ON public.trip_costs USING btree (calculated_at);


--
-- Name: idx_trip_costs_driver_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trip_costs_driver_id ON public.trip_costs USING btree (driver_id);


--
-- Name: idx_trip_costs_is_profitable; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trip_costs_is_profitable ON public.trip_costs USING btree (is_profitable);


--
-- Name: idx_trip_costs_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trip_costs_order_id ON public.trip_costs USING btree (order_id);


--
-- Name: idx_trip_costs_unit_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trip_costs_unit_id ON public.trip_costs USING btree (unit_id);


--
-- Name: idx_trip_events_trip_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trip_events_trip_id ON public.trip_events USING btree (trip_id);


--
-- Name: idx_trip_events_trip_id_occurred_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trip_events_trip_id_occurred_at ON public.trip_events USING btree (trip_id, occurred_at DESC);


--
-- Name: idx_trip_exceptions_trip_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trip_exceptions_trip_id ON public.trip_exceptions USING btree (trip_id);


--
-- Name: idx_trip_locations_trip_id_recorded_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trip_locations_trip_id_recorded_at ON public.trip_locations USING btree (trip_id, recorded_at DESC);


--
-- Name: idx_trips_dispatch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trips_dispatch ON public.trips USING btree (dispatch_id);


--
-- Name: idx_trips_distance; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trips_distance ON public.trips USING btree (distance_miles) WHERE (distance_miles IS NOT NULL);


--
-- Name: idx_trips_driver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trips_driver ON public.trips USING btree (driver_id);


--
-- Name: idx_trips_driver_unit; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trips_driver_unit ON public.trips USING btree (driver_id, unit_id);


--
-- Name: idx_trips_eta; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trips_eta ON public.trips USING btree (eta_prediction);


--
-- Name: idx_trips_no_distance; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trips_no_distance ON public.trips USING btree (id) WHERE (distance_miles IS NULL);


--
-- Name: idx_trips_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trips_status ON public.trips USING btree (status);


--
-- Name: idx_trips_week_start; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trips_week_start ON public.trips USING btree (week_start);


--
-- Name: idx_unit_profiles_driver_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_unit_profiles_driver_id ON public.unit_profiles USING btree (driver_id);


--
-- Name: idx_unit_profiles_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_unit_profiles_is_active ON public.unit_profiles USING btree (is_active);


--
-- Name: idx_unit_profiles_region; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_unit_profiles_region ON public.unit_profiles USING btree (region);


--
-- Name: idx_unit_profiles_unit_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_unit_profiles_unit_number ON public.unit_profiles USING btree (unit_number);


--
-- Name: idx_week_miles_unit_week; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_week_miles_unit_week ON public.week_miles_summary USING btree (unit_number, week_start);


--
-- Name: customs_agents trg_customs_agents_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_customs_agents_updated BEFORE UPDATE ON public.customs_agents FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: customs_clearances trg_customs_clearances_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_customs_clearances_updated BEFORE UPDATE ON public.customs_clearances FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: trip_stops trg_trip_stops_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_trip_stops_updated BEFORE UPDATE ON public.trip_stops FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: trips trg_trips_auto_distance; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_trips_auto_distance AFTER INSERT ON public.trips FOR EACH ROW EXECUTE FUNCTION public.trigger_calculate_trip_distance();


--
-- Name: trips trg_trips_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_trips_updated BEFORE UPDATE ON public.trips FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: costing_rules update_costing_rules_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_costing_rules_updated_at BEFORE UPDATE ON public.costing_rules FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: dispatches update_dispatches_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_dispatches_updated_at BEFORE UPDATE ON public.dispatches FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: driver_profiles update_driver_profiles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_driver_profiles_updated_at BEFORE UPDATE ON public.driver_profiles FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: event_rules update_event_rules_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_event_rules_updated_at BEFORE UPDATE ON public.event_rules FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: event_types update_event_types_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_event_types_updated_at BEFORE UPDATE ON public.event_types FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: orders update_orders_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_orders_updated_at BEFORE UPDATE ON public.orders FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: trip_costs update_trip_costs_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_trip_costs_updated_at BEFORE UPDATE ON public.trip_costs FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: unit_profiles update_unit_profiles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_unit_profiles_updated_at BEFORE UPDATE ON public.unit_profiles FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: week_miles_summary update_week_miles_summary_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_week_miles_summary_updated_at BEFORE UPDATE ON public.week_miles_summary FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: customs_activity_log customs_activity_log_clearance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customs_activity_log
    ADD CONSTRAINT customs_activity_log_clearance_id_fkey FOREIGN KEY (clearance_id) REFERENCES public.customs_clearances(id) ON DELETE CASCADE;


--
-- Name: customs_clearances customs_clearances_assigned_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customs_clearances
    ADD CONSTRAINT customs_clearances_assigned_agent_id_fkey FOREIGN KEY (assigned_agent_id) REFERENCES public.customs_agents(id);


--
-- Name: customs_clearances customs_clearances_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customs_clearances
    ADD CONSTRAINT customs_clearances_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.driver_profiles(driver_id);


--
-- Name: customs_clearances customs_clearances_trip_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customs_clearances
    ADD CONSTRAINT customs_clearances_trip_id_fkey FOREIGN KEY (trip_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: customs_clearances customs_clearances_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customs_clearances
    ADD CONSTRAINT customs_clearances_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.unit_profiles(unit_id);


--
-- Name: customs_documents customs_documents_clearance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customs_documents
    ADD CONSTRAINT customs_documents_clearance_id_fkey FOREIGN KEY (clearance_id) REFERENCES public.customs_clearances(id) ON DELETE CASCADE;


--
-- Name: event_rules event_rules_event_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_rules
    ADD CONSTRAINT event_rules_event_code_fkey FOREIGN KEY (event_code) REFERENCES public.event_types(event_code);


--
-- Name: trip_costs trip_costs_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_costs
    ADD CONSTRAINT trip_costs_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.driver_profiles(driver_id);


--
-- Name: trip_costs trip_costs_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_costs
    ADD CONSTRAINT trip_costs_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.unit_profiles(unit_id);


--
-- Name: trip_events trip_events_trip_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_events
    ADD CONSTRAINT trip_events_trip_id_fkey FOREIGN KEY (trip_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: trip_exceptions trip_exceptions_trip_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_exceptions
    ADD CONSTRAINT trip_exceptions_trip_id_fkey FOREIGN KEY (trip_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: trip_locations trip_locations_trip_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_locations
    ADD CONSTRAINT trip_locations_trip_id_fkey FOREIGN KEY (trip_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: trip_stops trip_stops_trip_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trip_stops
    ADD CONSTRAINT trip_stops_trip_id_fkey FOREIGN KEY (trip_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: unit_profiles unit_profiles_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unit_profiles
    ADD CONSTRAINT unit_profiles_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.driver_profiles(driver_id);


--
-- PostgreSQL database dump complete
--

\unrestrict PdfEdnpqiGYmhapyOn7KS0cG9wlRXNIVMdtghE76E7LwYr4iPmUFcrqKAOdS4o7

